body {
  background-image: linear-gradient(to right bottom, #3c7dff, #0052d4);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.header h2 {
  color: #fff;
  margin: 0;
  padding: 10px 0;
}

.card-container {
  text-align: center;
  margin-bottom: 20px;
}

.card {
  width: 300px;
  height: 100px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 10px;
}

.card:hover {
  background-color: #e6e6e6;
}

.card-container input[type="text"] {
  margin-right: 10px;
  padding: 5px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.card-container .addButton {
  padding: 5px 10px;
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.card-container .addButton:hover {
  background-color: #45a049;
}

.logout-btn {
  background-color: #f44336;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.logout-btn:hover {
  background-color: #d32f2f;
}